table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/* .ualignright { 
  text-align: right;
} */

.ualignright input { 
  text-align: right;
}

.THIS .ualignright input { 
  text-align: right;
}

.slds-input {
  text-align: right;
}


.THIS .slds-input {
  text-align: right; 
}

/* .THIS .u-align-right { 
  text-align: right;
}

.THIS .u-align-right input { 
  text-align: right;
} */