.THIS {
}
.THIS .slds-table td {
	height: 35px;
}

.THIS #tblConditionSearch {
	width: 100%;
	margin-bottom: 10px;
}
.THIS #tblConditionSearch .col1 {
	width: 10%;
}
.THIS #tblConditionSearch .col2 {
	width: 20%;
}
.THIS #tblConditionSearch .col4 {
	width: 15%;
}
.THIS #tblConditionSearch .col5 {
	width: 17%;
}
.THIS td {
    width: 4em;
    height: 3.5em;
    text-align: center;
}
.THIS .custom-table thead {
    height: 60px; /* Adjust the height as needed */
    background: #0070C0;
}
.THIS .line-color {
	background: #0070C0;
	height: 3px;
	margin-top: 3px;
	margin-bottom: 15px;
}
.THIS .div-title {
	font-weight: bold;
}